main {
  margin: 40px auto 0 auto;
}

.homeMain {
  max-width: 1000px;
  margin: auto;
}

.homeBoxes {
  padding: 0 1rem;
}

.homeBox {
  border: 1px solid #ccc;
  max-width: 100%;
  height: auto;
  margin: 3rem auto 0;
  display: flex;
  flex-direction: column;
}

.postLink {
  text-decoration: none;
  display: block;
  color: #222;
} 

.homeBoxNav {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
}

.homeBoxNavDate {
  color: #ccc;
}

.categoriesButton {
  border: 1px solid #06c;
  border-radius: 0.2rem;
  color: #06c;
  margin: 0 .3rem;
  padding: 0.5rem;
  background-color: #fff;
}

.homeBoxTexts {
  height: 150px;
  margin-left: 5%;
}

.homeBoxTextsTitle {
  font-weight: lighter;
  font-size: 1.5rem;
}

.loadingMessage {
  font-size: 1.5rem;
  text-align: center;
}

.errorHandring {
  font-size: 1.5rem;
  text-align: center;
}
